.PropsContainers {
    width: 100%;
    height: 100%;
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.up{
    width: 100%;
    height: 15%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 30px;


    & p {
        font-size: 20px;
        font-weight: 600;
        color: black;
    
    }

    & .input {
        width: 60%;
        height: 50%;
        border: 1px solid #696969;
        border-radius: 10px;
        background-color: transparent;
        outline: none;
        display: flex;
        gap: 2px;
        align-items: center;
        padding-inline: 10px;
        


        & .put {
            width: 95%;
            height: 100%;
            background-color: transparent;
            outline: none;
            border: none;
            padding: 5px;
            position: relative;
            font-size: 20px;
            font-weight: 400;
            line-height: 28.72px;
            overflow-x: scroll;
        }
        
        
        & .put::placeholder{
            font-size: 20px;
            font-weight: 400;
            line-height: 28.72px;
            text-align: left;
            position: absolute;
            top: 15%;
            color: #141415;
            
        }
    }

}

.btnes {
    width: 100%;
    height: 10%;  
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding-inline: 26px;
    justify-content: flex-end;
    /* background-color: #fff; */
    color: #fff;
    /* position: relative; */
  
    & .bot {
      width: 25%;
      height: 75%;
      background-color: #4D86DB;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      gap: 10px;
      color: #fff;
      font-size: 18px;
      /* position: absolute;
      right: 8%; */
      
    }


    & p{
        font-weight: 400;
        line-height: 28.72px;
        text-align: left;
        font-size: 20px;
        color: #000000;

    }
  }

.table1 {
    width: 95%;
    height: 72%;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 40px;
    /* border: 2px solid red; */

    & img {
        width: 20%;
    }

    & p {
        font-size: 25px;
        font-weight: 400;
        line-height: 28.72px;
        text-align: center;
        color: #000000;
    }
}
.table table{
    width: 100%;
    height: 100%;
   
}
.tenantTable{
    width: 100%;
    height: 100%;
    overflow:scroll;
    
}




