.TenantProfilePage{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   overflow: hidden;
}
.TenantProfilePageWrapper{
    height: 90%;
    width:45%;
    background-color: white;
    padding: 20px;
}
.ProfileHeader{
    height: 7%;
    width: 100%;
    display: flex;
    justify-content: space-between;
        /* background-color: red; */
    & button{
        height:100%;
        width:100%;
        border: none;
        color: white;
        font-size: 18px;
        font-weight: 600;
        border-radius: 10px;
        background-color:#4D86DB;
        cursor: pointer;
    }
   
}
.CloseButtonPro{
    width: 20%;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    /* background-color: red; */
}
.Profilepic{
    height: 10%;
    width: 100%;
    /* background-color: red; */
    display: flex;
   align-items: center;
   justify-content: center;
    

    & .Pics{
        height: 90px;
        width: 90px;
        border-radius: 50px;
        

        & img{
            height: 100%;
            width: 100%;
            border-radius: 50px;
            object-fit: cover;
        }
    }
}
.ProfDetail{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: red; */
    gap: 10px;
    & ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        /* background-color: blue; */
        justify-content: space-between;
        gap: 35px;
        & li{
          list-style-type: none;
          display: flex;
          height: 20%;
          gap: 0px;
          & p{
            display: flex;
            align-items: center;
            
          }
        }
    }
}
