.TenantMainContainer {
    height: 97%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.TenantMainContainerHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.TenantMainContainerHeader h3 {
    font-size: 20px;
}

.TenantMainContainerHeader p {
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;
}

.TenantMainContainerright {
    height: 100%;
    width: 100%;
}

.TenantMainDown {
    height: 85%;
    width: 100%;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.TenantMainDownHeader {
    height: 40px;
    background-color: #D9E8FF;
    text-align: left;
    padding-left: 15px;
   
}

.TenMaincolumn1 {
    width: 40%;
    padding: 10px;
    text-align: left;
    
}

.TenMaincolumn {
    width: 20%;
    padding: 10px;
    text-align: left;
}

.TenantMaindowncon {
    height: 80%;
    width: 100%;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; 
}

thead th {
    background-color: #D9E8FF; 
    color: black; 
    padding: 10px;
    font-weight: bold;
    /* text-align: left; */
    width: 25%; 
 
}

tbody td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: left;
    word-wrap: break-word;
   
   
}

.TextMainInage {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
   
}

.TextMainInage button {
    height: 50px;
    width: 200px;
    border-radius: 30px;
    background-color: #4D86DB;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.blur-background {
    filter: blur(5px);
    pointer-events: none;
}
